body 
{
  background-color: #064c68;
  color: #edf3f5;
  font-family: Arial;
}
  


/*-----------Dow logo--------*/
.logo-icon {
  margin-left: 900px;

}
/*-----------Dow logo--------*/

table, th, td {
border:1px solid black;
}

* {
font-family: sans-serif; /* Change your font family */
}

.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
border-radius: 5px 5px 0 0;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
background-color: beige;
color: black;

}

.content-table thead tr {
background-color:  black;
color: black;
text-align: left;
font-weight: bold;
}

.content-table th,
.content-table td {
padding: 12px 15px;
}

.content-table tbody tr {
border-bottom: 1px solid black;
}



.content-table tbody tr:last-of-type {
border-bottom: 2px solid black;
}
.Baseline {
font-weight: bold;
background-color: beige;
font-size: larger;
}

